<div class="text-center">
  <h1>個人情報登録</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      
       <div class="form-group">
        <%= f.label :name, 'お名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>    

      <div class="form-group">
        <%= f.label :prefecture, '都道府県' %>
        <%= f.text_field :prefecture, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :city, '市町村' %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :place, '町丁目' %>
        <%= f.text_field :place, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :building, 'ビル名称' %>
        <%= f.text_field :building, class: 'form-control' %>
      </div>
      <%= f.hidden_field :email, value: @user.email %>
      <%= f.hidden_field :password_digest, value: @user.password_digest %>
      

      <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    <% end %>
    
  </div>
</div>